img.avatar{
    width: 40px;
    float: left;
}
.ui-li-has-thumb .ui-btn-inner{
    min-height: 40px;
    padding: 2px 0 2px 55px;
}
.ui-li-has-thumb .ui-btn-inner .ui-li-thumb{
    left: 5px;
    top: 7px;
}
.created_date{color: #999;}

.boxed-form{
    background: #fff;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-box-shadow: 1px 1px 2px #bbb;
    -webkit-box-shadow: 1px 1px 2px #bbb;
    position: relative;
}
.boxed-form .form-chunk{
    line-height: 34px;
    min-height: 34px;
    border-top: 1px solid #ccc;
}
.boxed-form .form-chunk:first-child{
    border-top: none;
}

.boxed-form .form-chunk label, .boxed-form .form-chunk .label, .boxed-form .form-chunk label.ui-input-text{
    width: 20%;
    text-align: right;
    font-weight: bold;
    color: #666;
    display: block;
    float: left;
    font-size: 8pt;
    line-height: 34px;
}
.boxed-form .form-chunk input{
    float: right;
    width: 73%;
    height: 30px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 11pt;
    margin: 2px 0 0 0;
}
.boxed-form .form-chunk textarea{
    border: none;
    border: 0;
    float: right;
    width: 73%;
    background: none;
    font-size: 11pt;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    outline: 0;
}
.boxed-form .form-chunk .value{
    border: none;
    border: 0;
    margin-left: 27%;
    background: none;
    font-size: 11pt;
    -moz-box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    outline: 0;
    line-height: 23px;
    padding: 5px 0;
}

.boxed-form .form-chunk textarea{
    min-height: 100px;
}

.boxed-form .form-chunk .pre-end{
    clear: both;
}

.boxed-form .error-container{
    display: none;
}

.boxed-form a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.boxed-form a:hover{
    text-decoration: underline;
}

.data-header img{
    float: left;
    display: block
}
.data-header{margin-top: 0;}
.data-header .name{
    line-height: 45px;
    height: 40px;
    margin-left: 50px;
    font-size: 15pt;
}