<%inherit file="base.html"/>
<%namespace name="f" file="/forms.html"/>

<%!
    import pylons
    import simplejson as json
%>

<%def name="header()">
    ${parent.header()}
    <script type="text/javascript">
        var params = {
            profiles: ${json.dumps(c.profiles) | n}
        };
        new Q.IndexPage(params).readyrun();
    </script>
</%def>

##
## viewing a list of guys
##

<div data-role="page" id="listview">

	<div data-role="header" data-backbtn="false">
		<h1>PQ</h1>
        <a href="#add" data-icon="plus" class="ui-btn-right">Add</a>
        
	</div><!-- /header -->
    
    <div data-role="navbar">
            <ul id="mode-links">
                <li><a href="#" class="ui-btn-active" rel="created_date">By Time Added</a></li>
                <li><a href="#" rel="alpha">By Name</a></li>
            </ul>
        </div><!-- /navbar -->
	<div data-role="content" class="content">
        
	</div><!-- /content -->
    
</div><!-- /page -->

<script type="application/template" id="list-template">
    <ul data-role="listview" class="list-view">
    </ul>
</script>

<script type="application/template" id="list-item-template">
    <li class="{{letter}} list-item ui-li-has-thumb" id="{{id}}">
        <img class="avatar ui-li-thumb" src="{{url}}" />
        <h3><a href="#" rel="{{eid}}" class="profile">{{name}}</a></h3>
        <p>{{notes}} <span class="created_date">{{created_date}}</span></p>
    </li>
</script>

<script type="application/template" id="list-divider-template">
    <li data-role="list-divider" id="{{id}}" class="list-divider">{{letter}}</li>
</script>

##
## editing a guy
##

<div data-role="page" id="add">

	<div data-role="header" class="header" data-backbtn="false">
        <a href="#view" data-icon="delete" class="cancel">Cancel</a>
		<h1>Add</h1>
        <a href="#" data-icon="check" class="save-button ui-btn-right">Save</a>
	</div><!-- /header -->

	<div data-role="content">	
		
        <form class="boxed-form" action="${h.url_for(controller='mobile/auth', action='login')}" method="post">
            <% attr = {'data-role': 'none'} %>
            ${f.text_chunk('email', **attr)}
            ${f.text_chunk('name', **attr)}
            
            ${f.textarea_chunk('notes')}
            ${f.hidden('latitude', id=None)}
            ${f.hidden('longitude', id=None)}
        </form>
        
	</div><!-- /content -->
</div><!-- /page -->

<script type="application/template" id="text-template">
    <div class="form-chunk">
        <label for="{{key}}" class="form-label">
            {{label}}
        </label>
        <input type="text" name="{{key}}" value="{{value}}" class="text"/>
    </div>
</script>

<script type="application/template" id="textarea-template">
    <div class="form-chunk">
        <label for="{{key}}" class="form-label">
            {{label}}
        </label>
        <textarea name="{{key}}" class="textarea">
            {{value}}
        </textarea>
    </div>
</script>

##
## viewing a guy
##

<div data-role="page" id="view">

	<div class="header" data-role="header" data-backbtn="false">
        <a href="#listview" data-icon="arrow-l">All</a>
		<h1>Info</h1>
        <a href="#add" data-icon="check" class="ui-btn-right">Edit</a>
	</div><!-- /header -->

	<div data-role="content" class="content">	
		
        
	</div><!-- /content -->
</div><!-- /page -->

<script type="application/template" id="view-detail-template">
    <h2 class="data-header">
        <img class="avatar" src="{{url}}"/>
        <div class="name">{{name}}</div>
    </h2>
    
    <div class="display-data boxed-form">
    
    </div>
</script>

<script type="application/template" id="data-point-template">
    <div class="data-point form-chunk {{key}}">
        <div class="label">{{key}}</div>
        <div class="value">{{value}}</div>
    </div>
</script>






