<%inherit file="/base.html"/>

<%!
    import pylons
    from tethr.lib import auth
%>

<%def name="header()">
    ${parent.header()}
</%def>

<h1>Hey!</h1>
<p>
    Neat stuff we get for free.
</p>

<h2><a href="${h.url_for(controller='test', action='exercise')}">Framework Exercise</a></h2>
<h2><a href="${h.url_for(controller='test', action='qunit')}">QUnit Tests</a></h2>

% if auth.is_admin():
    <h2><a href="${h.url_for(controller='admin/search', action='index')}">Admin Interface</a></h2>
% endif